* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background: url(twit.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;*/

}
/*.footer {
    padding: 20px;
}*/
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    max-width: 200px;
    height: 500px;
    justify-content: space-between;
    
}
/*#first::before {
    content: url(../placeholder/icons.png);
   /* width: 5px;
    height: 5px;
}
Haven't gotten the icons to use yet and i'm also having issues with the text.
#second::before {
    content: url(../placeholder/icons.png);
    /*width: 5px;
    height: 5px;
    left: 0px;
}
#third::before {
    content: url(../placeholder/icons.png);
   /* width: 5px;
    height: 5px;
    left: 0px;
}*/
.parta {
    background: url(../placeholder/trial.jpg);
    background-repeat: no-repeat;
    padding: 260px;
    background-size: contain;
    background-attachment: scroll;
    color: white;
    
}
.partb {
    background-color: white;
    padding: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    
}
#bi {
    font-size: 35px;
    text-align: justify;
    
}
#bg {
    font-weight: 100%;
}

.button {
    background-color: #33b5e5;
    border: 2px solid #33b5e5;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 16px 8px;
    cursor: pointer;
    border-radius: 35px;
    width: 550px;
    
}

.button2 {
    background-color: white;
    color: #33b5e5;
    border: 2px solid #33b5e5;
}

.button2:hover {
    background: rgba(43, 208, 230, 0.2);
    border: 2px solid #33b5e5;
}

.button1:hover {
    background: rgba(37, 175, 202, 0.9);
    border: 2px solid #33b5e5;
}

.twitg {
    width: 50px;
    height: 40px;
    position: middle;
}

.footer {
    /*display: inline-block;*/
    background-color: white; 
    margin-bottom: auto;
    font-size: 90%;
    display: -webkit-inline-flex;
}

.footer a {
    color: indigo;
    padding: 6.5px;
    text-decoration: none;
    text-align: justify;
}

.footer a:hover {
    text-decoration: underline;
}
#caption {
    text-align: center;
    color: indigo;
    background-color: white;
    font-size: smaller;
}